<?xml version="1.0" encoding="UTF-8"?>
<widget>
	<label>Matrix</label>
	<tag>matrix</tag>
	<settings>
		<template_class>droppable</template_class>
		<resizable>1</resizable>
		<absolute_position>1</absolute_position>
		<create_widget_class>MatrixWidget</create_widget_class>
	</settings>
	<menu_widget></menu_widget>
	<template_widget></template_widget>
	<properties><![CDATA[]]></properties>
	<menu_css><![CDATA[
		.layout-ui-editor > .menu-widgets .menu-widget.menu-widget-matrix:before,
		  body > .menu-widget.menu-widget-matrix.ui-draggable-dragging:before {
			background-image:url('#widget_webroot_url#logo.svg');
		}
		
		.layout-ui-editor > .template-widgets .widget-header.widget-header-matrix {
			border-radius:0 5px 5px 0;
		}
		.layout-ui-editor > .template-widgets .widget-header.widget-header-matrix .options .option.toggle {
			display:none;
		}
		
		.layout-ui-editor.fixed-side-properties > .menu-settings.menu-settings-matrix > .settings-properties {
			min-width:240px;
		}
		.layout-ui-editor.fixed-side-properties > .menu-settings.menu-settings-matrix > .settings-properties > ul > .info {
			margin-bottom:20px;
			opacity:.5;
		}
		.layout-ui-editor.fixed-side-properties > .menu-settings.menu-settings-matrix > .settings-properties > ul > .info:hover {
			opacity:1;
		}
	]]></menu_css>
	<template_css><![CDATA[
		.template-widget[data-widget-matrix]:empty::after {
			content:"";
			height:100%;
			display:block;
			background-image:url('#widget_webroot_url#default_matrix.svg');
			background-size: 90% 90%;
			background-repeat: no-repeat;
			background-position: center;
		}
	]]></template_css>
	<menu_js><![CDATA[
		function MatrixWidget(ui_creator, menu_widget) {
			var me = this;
			
			me.init = function() {
				menu_widget.attr({
					"data-on-parse-template-widget-html-func": ui_creator.obj_var_name + ".menu_widgets_objs.matrix.parseHtml",
					"data-on-create-template-widget-func": ui_creator.obj_var_name + ".menu_widgets_objs.matrix.onCreateTemplateWidget",
				});
				
				menu_widget.children(".properties").attr({
					"data-on-open-settings-func": ui_creator.obj_var_name + ".menu_widgets_objs.matrix.onOpenWidgetSettings",
				});
			};
			
			me.parseHtml = function(html_element) {
				if (html_element && (html_element.hasAttribute("data-widget-matrix")))
					return {
						droppable: $(html_element),
					};
			};
			
			me.onCreateTemplateWidget = function(widget, html_element) {
				if (!html_element) {
					widget.css({
						width: "100%", 
						height: "calc(100vh - 20px)", 
						"min-width": "200px", 
						"min-height": "200px", 
						position: "relative"
					});
					
					var props = {
						load: "MyWidgetResourceLib.MatrixHandler.loadMatrixResource"
					};
					widget.attr("data-widget-props", JSON.stringify(props));
					widget.attr("data-widget-resources-load", "");
					widget.attr("data-widget-matrix", "");
					
					/*var loading_elm = $('<h2 class="border-0 rounded text-center text-white" data-widget-loading style="position:absolute; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,.2); padding-top:30%; z-index:1;">Loading new data... Please wait a while...</h2>');
					widget.append(loading_elm);
					
					//convert html to LayoutUIEditor widget
					ui_creator.convertHtmlElementToWidget(loading_elm);*/
					
					var table_elm = $('<table style="width:100%;">'
							+ '<thead>'
								+ '<tr data-widget-matrix-head-row data-widget-props="{&quot;load&quot;:[&quot;MyWidgetResourceLib.MatrixHandler.loadMatrixHeadRowResource&quot;]}"><th class="border">Axis Y/Axis X</th><th class="border" data-widget-matrix-head-column>Axis X Column</th></tr>'
							+ '</thead>'
							+ '<tbody>'
								+ '<tr data-widget-matrix-body-row data-widget-props="{&quot;load&quot;:[&quot;MyWidgetResourceLib.MatrixHandler.loadMatrixBodyRowResource&quot;]}"><th class="border" data-widget-matrix-head-column>Axis Y Column</th><td class="border" data-widget-matrix-body-column><div data-widget-item>Item Column</div></td></tr>'
								+ '<tr data-widget-loading><td colspan="2" class="border-0 rounded text-center text-muted small p-3">Loading new data... Please wait a while...</td></tr>'
								+ '<tr data-widget-empty style="display:none;"><td colspan="2" class="border-0 text-center text-muted small p-3">No elements available...</td></tr>'
							+ '</tbody>'
						+ '</table>');
					widget.append(table_elm);
					
					//convert html to LayoutUIEditor widget
					ui_creator.convertHtmlElementToWidget(table_elm);
				}
			};
			
			me.onOpenWidgetSettings = function(widget, menu_settings) {
				//expand dynamic widgets properties and scrol down until the matrix properties
				var settings_widget = menu_settings.children(".settings-widget");
				
				if (!settings_widget.hasClass("group-open")) {
					settings_widget.find(" > .group-title").trigger("click");
					
					//waits a while so the dynamic widgets properties be expanded
					setTimeout(function() {
						menu_settings.scrollTop(800); //scroll until the first dynamic property
						
						setTimeout(function() {
							menu_settings.scrollTop(800); //scroll until the first dynamic property
						}, 500);
					}, 300);
				}
			};
		}
	]]></menu_js>
</widget>
