<?xml version="1.0" encoding="UTF-8"?>
<widget>
	<label>Jumb otrons</label>
	<tag>bsjumbotrons</tag>
	<settings>
		<absolute_position>1</absolute_position>
		<create_widget_class>BSJumbotronsWidget</create_widget_class>
	</settings>
	<files>
		<css>../../CreateWidgetBootstrapClassObj.css</css>
		<js>../../CreateWidgetBootstrapClassObj.js</js>
	</files>
	<menu_css><![CDATA[
		.layout-ui-editor > .menu-widgets .menu-widget.menu-widget-bsjumbotrons:before,
		  body > .menu-widget.menu-widget-bsjumbotrons.ui-draggable-dragging:before {
			background-image:url('#widget_webroot_url#logo.svg');
		}
		
		.layout-ui-editor > .myfancypopup.layout-ui-editor-bootstrap-widgets-popup.bsjumbotrons > .content > ul > li img {
			max-width:300px;
			max-height:300px;
			height:auto;
		}
	]]></menu_css>
	<menu_js><![CDATA[
		function BSJumbotronsWidget(ui_creator, menu_widget) {
			var obj = new CreateWidgetBootstrapClassObj(ui_creator, menu_widget, "bsjumbotrons");
			obj.extend(this);
			
			obj.available_items = {
				"5.3": [
					{
						image: '#widget_webroot_url#jumbotrons_1.png',
						name: '',
						html: '<div class="p-5 text-center bg-body-tertiary rounded-3"><svg class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="100" height="100"><use xlink:href="#bootstrap"></use></svg><h1 class="text-body-emphasis">Jumbotron with icon</h1><p class="col-lg-8 mx-auto fs-5 text-muted">This is a custom jumbotron featuring an SVG image at the top, some longer text that wraps early thanks to a responsive <code>.col-*</code> class, and a customized call to action.</p><div class="d-inline-flex gap-2 mb-5"><button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">Call to action<svg class="bi ms-2" width="24" height="24"><use xlink:href="#arrow-right-short"></use></svg></button><button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">Secondary link</button></div></div>',
						title: 'Needs Bootstrap bi classes to be installed'
					},
					{
						image: '#widget_webroot_url#jumbotrons_2.png',
						name: '',
						html: '<div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5"><button type="button" class="position-absolute top-0 end-0 p-3 m-3 btn-close bg-secondary bg-opacity-10 rounded-pill" aria-label="Close"></button><svg class="bi mt-5 mb-3" width="48" height="48"><use xlink:href="#check2-circle"></use></svg><h1 class="text-body-emphasis">Placeholder jumbotron</h1><p class="col-lg-6 mx-auto mb-4">This faded back jumbotron is useful for placeholder content. It is also a great way to add a bit of context to a page or section when no content is available and to encourage visitors to take a specific action.</p><button class="btn btn-primary px-5 mb-5" type="button">Call to action</button></div>',
						title: 'Needs Bootstrap bi classes to be installed'
					},
					{
						image: '#widget_webroot_url#jumbotrons_3.png',
						name: '',
						html: '<div class="p-5 text-center bg-body-tertiary"><div class="container py-5"><h1 class="text-body-emphasis">Full-width jumbotron</h1><p class="col-lg-8 mx-auto lead">This takes the basic jumbotron above and makes its background edge-to-edge with a <code>.container</code> inside to align content. Similar to above, it is been recreated with built-in grid and utility classes.</p></div></div>'
					},
					{
						image: '#widget_webroot_url#jumbotrons_4.png',
						name: '',
						html: '<div class="p-5 text-center bg-body-tertiary rounded-3"><h1 class="text-body-emphasis">Basic jumbotron</h1><p class="lead">This is a simple Bootstrap jumbotron that sits within a <code>.container</code>, recreated with built-in utility classes.</p></div>'
					},
				],
			};
		}
	]]></menu_js>
</widget>
