body {
	font-size:13px;
	font-weight:400;
}

.error {
	margin-top:20px;
	color:#B51E3F;
	text-align:center;
}

/* DB PROPERTIES POPUP */
#selected_menu_properties {
	min-width:200px;
}

/* MENU PANEL */
#menu_panel {
	width:300px;
	height:32px;
	padding:3px 5px 5px;
	line-height:25px;
	position:absolute; 
	top:0;
	left:0;
	right:0;
	box-sizing:border-box;
	overflow:hidden;
	font-size:14px;
	
	border-top:2px solid #FC3C44;
	background: -moz-linear-gradient(top, #eee 50%, #ffffff73 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #eee), color-stop(100%, #ffffff73));
	background: -webkit-linear-gradient(top, #eee 50%, #ffffff73 100%);
	background: -o-linear-gradient(top, #eee 50%, #ffffff73 100%);
	background: -ms-linear-gradient(top, #eee 50%, #ffffff73 100%);
	background: linear-gradient(to bottom, #eee 50%, #ffffff73 100%);
}
#menu_panel > .selected_project {
	padding:0 0 0 5px;
	font-size:80%;
	color:#586264;
	text-decoration:none;
}
#menu_panel > .selected_project:before {
	content:"Project: ";
}
#menu_panel .login_info {
	margin:0 5px;
	color:#586264;
	font-size:80%;
	float:right;
	opacity:.5;
}
#menu_panel .icon:not(.user) {
	margin:5px 5px 0;
	float:right;
}
#menu_panel .icon:hover {
	opacity:.6;
}
#menu_panel .icon.logout {
	margin-right:0;
}

/* LEFT PANEL */
#left_panel {
	width:300px; 
	padding:15px 0 20px 0;
	padding-top:15px;
	padding-bottom:20px;
	position:absolute; 
	left:0px; 
	top:32px; 
	bottom:0px;
	color:#444;
	border:0;
	border-right:1px solid #586264;
	border-radius:0;
	overflow:hidden; /* when changing the size of this layer, sometimes the settings tab icon appear outside of this panel in the right panel side, which is weird. So we need to have the overflow to hide all elements that appear outside of the left_panel borders. */
}

/* LEFT PANEL - TABS */
#left_panel > .tabs {
	height:26px; 
	margin-left:0; 
	background:unset; 
	border-top:0; 
	border-left:0; 
	border-right:0; 
	border-radius:0; 
	/*overflow:hidden; - I don't need to do this anymore bc the trees (#left_panel .layers > .mytree) appear on top of the tabs and hide the tabs that appear in 2 lines */
}
#left_panel > .tabs .tab {height:30px; box-sizing:border-box; padding:2px 5px 5px;}
#left_panel > .tabs .tab:not(.ui-tabs-active) {margin-top:-4px; background:#f7f7f7;}
#left_panel > .tabs .tab.ui-tabs-active {margin-top:-3px;}
#left_panel > .tabs .tab.tab_library {float:right;}
#left_panel > .tabs .tab.tab_settings {float:right;}
#left_panel > .tabs .tab a {padding:0;}
#left_panel > .tabs .tab a .tab_icon {display:inline-block; margin:0;}
#left_panel > .tabs .tab a .tab_icon.ui-state-active {background:#fff;}

#left_panel > .tabs a i.tab_icon::before {
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	font-size:16px;
	display:block;
	margin-top:4px;
}
#left_panel > .tabs a i.tab_icon::after {
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	font:var(--fa-font-solid);
	font-size:12px;
	display:block;
	margin:-10px 0 0 10px;
}
#left_panel > .tabs a i.main_node_db_layers::before {
	content:"\f51e";
	color:#FAB12B;
}
#left_panel > .tabs a i.main_node_db_layers::after {
	content:"\f1e6";
	color:#666;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
}
#left_panel > .tabs a i.main_node_data_access_layers::before {
	content:"\f5fd";
	color:#FAB12B;
}
#left_panel > .tabs a i.main_node_data_access_layers::after {
	content:"\f1c0";
	color:#666;
}
#left_panel > .tabs a i.main_node_business_logic_layers::before {
	content:"\f5fd";
	color:#FAB12B;
}
#left_panel > .tabs a i.main_node_business_logic_layers::after {
	content:"\e13b";
	color:#666;
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
}
#left_panel > .tabs a i.main_node_presentation_layers::before {
	content:"\f5fd";
	color:#FAB12B;
}
#left_panel > .tabs a i.main_node_presentation_layers::after {
	content:"\f0ac";
	color:#666;
}
#left_panel > .tabs a i.main_node_library::before {
	content:"\f518";
	color:#FAB12B;
}
#left_panel > .tabs a i.main_node_vendors::before {
	content:"\f2a1";
	color:#FAB12B;
}
#left_panel > .tabs a i.main_node_settings::before {
	content:"\f7d9";
	color:#FAB12B;
}

/* LEFT PANEL - TREE */
#left_panel .layers {
	padding:0;
}
#left_panel .layers > .mytree {
	margin:0;
	padding:0 0 20px 0;
	font-size:80%;
	position:absolute;
	top:45px;
	left:0;
	right:0;
	bottom:0;
	overflow:auto;
	background:#fff; /* This is important bc if the tabs above (#left_panel > .tabs > li) appear in 2 lines, this background will hide them. */
}
#left_panel .layers.with_sub_menus >  .mytree {
	bottom:30px;
}
#left_panel .layers > .mytree label {
	font-weight:normal;
	font-style:normal;
}
#left_panel .layers > .mytree > ul > li:first-child {
	padding-top:10px;
}

/* LEFT PANEL - WITH SUB GROUPS */
#left_panel .with_sub_groups > ul > li {
	margin:10px;
	background:unset;
}
#left_panel .layers > .mytree.with_sub_groups > ul > li:first-child {
	padding-top:0;
}
#left_panel .with_sub_groups > ul > li > a > label {
	width:calc(100% - 30px);
	display:inline-block;
}
#left_panel .with_sub_groups > ul > li > .jstree-icon {
	position:absolute;
}
#left_panel .with_sub_groups > ul > li.jstree-closed > .jstree-icon {
	background-position:-3px 0;
}
#left_panel .with_sub_groups > ul > li.jstree-open > .jstree-icon {
	background-position:-35px 0;
}
#left_panel .with_sub_groups > ul > li.jstree-loading > .jstree-icon {
	background-position:5px 8px;
}
#left_panel .with_sub_groups > ul > li {
	position:relative;
}
#left_panel .with_sub_groups > ul > li > a {
	padding:5px 5px 5px 25px;
	border-radius:5px;
	background-color:#eee;
	display:block;
}
#left_panel .with_sub_groups > ul > li > .icon.sub_menu {
	position:absolute;
	top:12px;
	right:5px;
	color:#aaa;
}
#left_panel .with_sub_groups > ul > li > a.jstree-hovered {
	background-color:#eee !important;
}
#left_panel .with_sub_groups > ul > li > ul > li {
	margin-left:0;
}

/* LEFT PANEL - WITHOUT SUB GROUPS */
#left_panel .mytree.hide_tree_item > ul > li > a,
  #left_panel .mytree.hide_tree_item > ul > li > i,
  #left_panel .mytree.hide_tree_item > ul > li > .sub_menu {
	display:none;
}
#left_panel .mytree.hide_tree_item > ul > li:first-child {
	padding-top:0;
}
#left_panel .mytree.hide_tree_item > ul > li > ul > li {
	margin-left:0;
}
#left_panel .mytree.hide_tree_item > ul > li > ul > li:first-child:not(.hide_tree_item) {
	padding-top:10px;
}
#left_panel .mytree.hide_tree_item > ul li.hide_tree_item > a,
  #left_panel .mytree.hide_tree_item > ul li.hide_tree_item > i,
  #left_panel .mytree.hide_tree_item > ul li.hide_tree_item > .sub_menu {
	display:none;
}
#left_panel .mytree.hide_tree_item > ul li.hide_tree_item:not(.with_sub_groups) > ul > li {
	margin-left:0;
}
#left_panel .mytree.hide_tree_item > ul li.hide_tree_item:not(.with_sub_groups) > ul > li:first-child {
	padding-top:10px;
}

/* LEFT PANEL - PRESENTATION LAYER */
#left_panel #presentation_layers .mytree > ul li[data-jstree='{"icon":"configs_folder"}'],
  #left_panel #presentation_layers .mytree > ul li[data-jstree='{"icon":"views_folder"}'],
  #left_panel #presentation_layers .mytree > ul li[data-jstree='{"icon":"blocks_folder"}'],
  #left_panel #presentation_layers .mytree > ul li[data-jstree='{"icon":"utils_folder"}'],
  #left_panel #presentation_layers .mytree > ul li[data-jstree='{"icon":"properties"}'] {
	display:none;
}
#left_panel.advanced_level #presentation_layers .mytree > ul li[data-jstree='{"icon":"configs_folder"}'],
  #left_panel.advanced_level #presentation_layers .mytree > ul li[data-jstree='{"icon":"views_folder"}'],
  #left_panel.advanced_level #presentation_layers .mytree > ul li[data-jstree='{"icon":"blocks_folder"}'],
  #left_panel.advanced_level #presentation_layers .mytree > ul li[data-jstree='{"icon":"utils_folder"}'],
  #left_panel.advanced_level #presentation_layers .mytree > ul li[data-jstree='{"icon":"properties"}'] {
	display:block;
}
#left_panel #presentation_layers .mytree > ul li[data-jstree='{"icon":"entities_folder"}'] > a > label {
	text-indent:-9999px;
	display:inline-block;
}
#left_panel #presentation_layers .mytree > ul li[data-jstree='{"icon":"entities_folder"}'] > a > label:after {
	content:"pages";
	text-indent:0px;
	float:left;
}

/* LEFT PANEL - SUB MENUS */
#left_panel .sub_menus {
	width:300px;
	height:30px;
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	
	background: -moz-linear-gradient(bottom, #eee 50%, #ffffff73 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #eee), color-stop(100%, #ffffff73));
	background: -webkit-linear-gradient(bottom, #eee 50%, #ffffff73 100%);
	background: -o-linear-gradient(bottom, #eee 50%, #ffffff73 100%);
	background: -ms-linear-gradient(bottom, #eee 50%, #ffffff73 100%);
	background: linear-gradient(to top, #eee 50%, #ffffff73 100%);
}
#left_panel .sub_menus.open {
	height:auto;
	
	background: -moz-linear-gradient(bottom, #eee 97%, #ffffff73 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(97%, #eee), color-stop(100%, #ffffff73));
	background: -webkit-linear-gradient(bottom, #eee 97%, #ffffff73 100%);
	background: -o-linear-gradient(bottom, #eee 97%, #ffffff73 100%);
	background: -ms-linear-gradient(bottom, #eee 97%, #ffffff73 100%);
	background: linear-gradient(to top, #eee 97%, #ffffff73 100%);
}
#left_panel .sub_menus > label {
	line-height: 20px;
	display:block;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	font-size:80%;
	font-weight:normal;
	cursor:pointer;
	color:#7a888b;
}
#left_panel .sub_menus.open > label {
	border-bottom:1px solid #aaa;
}
#left_panel .sub_menus > label > i {
	float:right;
	margin:9px 8px 0 0;
	color:#7a888b;
	font-size:14px;
}
#left_panel .sub_menus.open > label > i {
	margin-top:2px;
}
#left_panel .sub_menus.open > label > i:before {
	content:"\f0dd";
}
#left_panel .sub_menus > i {
	position:absolute;
	right:8px;
	bottom:8px;
	color:#7a888b;
	cursor:pointer;
	font-size:14px;
	z-index:999999999;
}
#left_panel .sub_menus:not(.open) > i {
	display:none;
}
#left_panel .sub_menus > ul li.level {
	padding:5px 10px;
	background:#ddd;
	border-top:1px solid #aaa;
	font-size:80%;
}
#left_panel .sub_menus > ul li.level label {
	font-weight:normal;
	vertical-align:middle;
	opacity:.8;
}
#left_panel .sub_menus > ul li.level select {
	background:transparent;
	border:none;
}
#left_panel .sub_menus > ul li .icon {
	width:20px;
	margin:0;
	float:none;
	display:inline-block;
	vertical-align:middle;
}
#left_panel .sub_menus > ul li.external_sub_menu .mycontextmenu {
	position:relative;
	background-color:transparent;
	border:0;
	border-radius:0;
	box-shadow:none;
	display:block !important;
}
#left_panel .sub_menus > ul li.external_sub_menu .mycontextmenu li,
  #left_panel .sub_menus > ul li.external_sub_menu .mycontextmenu li a {
	background-color:#eee !important;
	border-radius:0;
}
#left_panel .sub_menus > ul li.external_sub_menu .mycontextmenu li:hover,
  #left_panel .sub_menus > ul li.external_sub_menu .mycontextmenu li:hover a {
	background-color:#ddd !important;
}
#left_panel .sub_menus > ul li.external_sub_menu .mycontextmenu li.line_break {
	margin:0 5px;
	border:none;
	border-top:1px solid #aaa;
}

#left_panel .sub_menus > ul li.external_sub_menu > #presentation_project_context_menu > .rename,
  #left_panel .sub_menus > ul li.external_sub_menu > #presentation_project_context_menu > .remove,
  #left_panel .sub_menus > ul li.external_sub_menu > #presentation_project_context_menu > .zip {
	display:none;
}

/* HIDE PANEL */
#hide_panel {position:absolute; left:300px; top:0px; width:5px; bottom:0px; overflow:hidden; background:url("../../img/back_frame_open_close_vertical_red.gif") repeat-y; cursor:ew-resize; z-index:3;}
#hide_panel .button {position:absolute; top:45%; top:calc(50% - 17px); width:5px; height:34px; left:0; cursor:pointer;}
#hide_panel .button.maximize {background:url("../../img/tool_frame_right.gif") no-repeat;}
#hide_panel .button.minimize {background:url("../../img/tool_frame_left.gif") no-repeat;}

/* RIGHT PANEL */
#right_panel {
	position:absolute; 
	left:305px; 
	top:0; 
	right:0px; 
	bottom:0px;
}
#right_panel iframe {position:absolute; display:block; border:0; width:100%; height:100%; padding:0; margin:0; background:#f5f5f5 !important;}
#right_panel .iframe_overlay {
	position:absolute; 
	border:0; 
	width:100%; 
	height:100%; 
	padding:0; 
	margin:0; 
	background:#000;
	opacity:0.6;
	-ms-filter: alpha(opacity=60);/* For IE 8 */
	filter: alpha(opacity=60);/* For IE */
}
#right_panel .iframe_overlay .iframe_loading {
	width:24px; 
	height:24px; 
	line-height:24px;
	margin:0 auto;
	position:relative;
	top:48%;
	background:url("../../common/img/loading_slower.gif") no-repeat;
	
	padding-left:30px;
	font-weight:bold;
	color:#FFF;
	font-size:20px;
}

