body,
  #main_column {
	background:#fff !important;
}
::-webkit-scrollbar-track {
	background-color:#fff;
}

/* TOP BAR */
.top_bar {
	margin-bottom:15px;
}

/* GIT UPDATE */
.git_update {
	min-width:400px;
	margin:0 auto;
	padding:40px;
	text-align:center;
}
.git_update ul {
	width:400px;
	max-width:100%;
	margin:20px auto;
	text-align:left;
}
.git_update ul li {
	list-style:disc;
	font-weight:bold;
}
.git_update input[type=submit] {
	margin-top:20px;
}
.git_update pre.code {
	height:250px;
	padding:20px;
	margin-top:20px;
	display:block;
	color:var(--main-iframe-color);
	background:var(--main-iframe-bg);
	border:1px solid var(--resize-bar-border);
	border-radius:3px;
	overflow:auto;
}
.git_update pre.command {
	padding:20px;
	margin-top:20px;
	display:block;
	color:var(--main-iframe-color);
	background:var(--main-iframe-bg);
	border:1px solid var(--resize-bar-border);
	border-radius:3px;
	overflow:auto;
}
