body,
  #main_column {
	/*background:#fff !important;*/
	background:#2C2D34 !important;
	color:#DFE1ED !important;
}
::-webkit-scrollbar-track {
	/*background-color:#fff;*/
	background-color:#2C2D34;
}

.top_bar.in_popup header .icon.refresh::before {
	margin-top:3px;
	display:block;
}

.logs_console > .logs {
	height:calc(100vh - 50px);
	box-sizing:border-box;
	overflow:hidden;
}
.logs_console.in_popup > .logs {
	height:calc(100vh - 60px);
}
.logs_console > .logs textarea {
	width:100%;
	height:100%;
	padding:15px;
	box-sizing:border-box;
	border:0;
	resize:none;
	font-size:10px;
	background:transparent;
	color:inherit;
}
.logs_console > .logs textarea:hover {
	box-shadow:none;
}
