#ignore all files below:
other/*
other/workflow/*
tmp/*
files/*

vendor/dao/*
vendor/dao/common/*
vendor/dao/module/*
vendor/dao/program/*
vendor/testunit/*
vendor/layoutuieditor/*
vendor/layoutuieditor/widget/*
vendor/codeworkfloweditor/*
vendor/codeworkfloweditor/task/*

app/__system/layer/presentation/common/src/module/*
app/__system/layer/presentation/common/webroot/__system/*
app/__system/layer/presentation/common/webroot/module/*
app/__system/layer/presentation/phpframework/webroot/__system/*
app/__system/layer/presentation/test/webroot/__system/*

#sensitive info
app/config/*
app/layer/*

#auth files
other/authdb/login_control.tbl
other/authdb/user_stats.tbl

#GPL libraries
app/__system/layer/presentation/phpframework/webroot/vendor/wordpress.zip

#LGPL libraries
app/lib/vendor/phpjavascriptpacker
app/lib/vendor/phpmailer
app/lib/vendor/xsssanitizer
app/__system/layer/presentation/common/webroot/vendor/tinymce
app/__system/layer/presentation/common/webroot/vendor/ckeditor

#except the subfodlers:
!app/__system/layer/presentation/common/src/module/.gitkeep
!app/__system/layer/presentation/common/webroot/__system/.gitkeep
!app/__system/layer/presentation/common/webroot/module/.gitkeep
!app/__system/layer/presentation/phpframework/webroot/__system/.gitkeep
!app/__system/layer/presentation/test/webroot/__system/.gitkeep
!app/config/.gitkeep
!app/layer/.htaccess
!other/authdb/
!other/frameworkscreenshots/
!other/workflow/
!other/workflow/.gitkeep
!tmp/.htaccess
!files/.htaccess
!vendor/dao/common/
!vendor/dao/common/.gitkeep
!vendor/dao/module/
!vendor/dao/module/.gitkeep
!vendor/dao/program/
!vendor/dao/program/.gitkeep
!vendor/testunit/.gitkeep
!vendor/layoutuieditor/widget/
!vendor/layoutuieditor/widget/.gitkeep
!vendor/codeworkfloweditor/task/
!vendor/codeworkfloweditor/task/.gitkeep


