services:
  web:
    build: .
    ports:
      - "8888:80"   # (optional, but not needed if you want 8888 only)
    #volumes:
    #  - .:/var/www/html
    depends_on:
      - mysql
      - postgres
  mysql:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DOCKER_COMPOSE_DB_ROOT_PASS}
      MYSQL_DATABASE: ${DOCKER_COMPOSE_DB_NAME}
      MYSQL_USER: ${DOCKER_COMPOSE_DB_USER}
      MYSQL_PASSWORD: ${DOCKER_COMPOSE_DB_PASS}
    ports:
      - "8889:3306"
    volumes:
      - ./mysql.cnf:/etc/mysql/my.cnf
  postgres:
    image: postgres:12
    restart: always
    environment:
      POSTGRES_DB: ${DOCKER_COMPOSE_DB_NAME}
      POSTGRES_USER: ${DOCKER_COMPOSE_DB_USER}
      POSTGRES_PASSWORD: ${DOCKER_COMPOSE_DB_PASS}
    ports:
      - "8890:5432"
