<IfModule mod_rewrite.c>
    RewriteEngine On
    
    RewriteRule ^$ webroot/ [L,NC]
    
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule (.*) webroot/$1 [L,NC]
</IfModule>
