body {
	font-family:var(--main-font-family);
}
body:not(.in_popup) #main_column {
	background:#2C2D34;
}
.login {
	font-size:13px;
}
.login.with_popup > .row {
	margin:0;
	display:block;
}
.login .admin-page-content {
	max-width:800px;
}
.login.with_popup .admin-page-content {
	padding:0;
}
.login:not(.with_popup) .card {
	box-shadow:0px 0px 80px 10px rgba(173,173,173,0.5) !important;
	margin-top:calc((100vh - 430px) / 2);
	
	background-image:url("../../img/ellipse.svg");
	background-size: 60% 100%;
	background-repeat: no-repeat;
	background-position: 100% 100%;
}
.login.with_popup .card {
	box-shadow:none !important;
}

.login:not(.with_popup) .card > .side_image {
	position:absolute;
	top:0;
	left:50%;
	right:15px;
	bottom:0;
	align-items:center;
	justify-content:center;
}
.login:not(.with_popup) .card > .side_image .slogan {
	width:100%;
	margin-top:-25%;
	padding:0 15%;
	text-align:center;
}
.login:not(.with_popup) .card > .side_image .slogan .sentence_1 {
	text-align:left;
	font-size:85%;
}
.login:not(.with_popup) .card > .side_image .slogan .sentence_2 {
	font-weight:bold;
}

.login.with_popup .card .card-header {
	height:50px;
	padding:15px;
	background:#2C2D34;
	background:var(--link-color);
	color:#BFC4DB;
}
.login.with_popup .card .card-header h5 {
	line-height:20px;
	margin-bottom:0;
	color:#fff;
	text-align:left;
	font-size:13px;
}
.login .card .card-body {
	padding:40px;
}
.login.with_popup .card .card-body {
	padding:30px 20px 0;
}
.login .card .card-body img {
	width:100%;
	max-width:150px;
	margin:0 auto 50px;
	display:inline-block;
}
.login.with_popup .card .card-body img {
	display:none;
}

.form_fields { width:calc(100% - 10px); margin:10px 0 0; }
.login:not(.with_popup) .form_fields { max-width:300px; }
.form_fields .form_field { position:relative; padding:7px 0; color:#555; }
.login:not(.with_popup) .form_field { margin:2rem 0 0; }
.form_fields .form_field label {
	margin:0;
	position:absolute;
	left:0;
	font-family:inherit;
	
	pointer-events:none;
	-webkit-transition:.3s ease all;
	-o-transition:.3s ease all;
	transition:.3s ease all;
}
.form_fields .form_field label i.asterisk {
	color:#FC3C44;
	font-style:normal;
}
.form_fields .form_field label a {
	pointer-events:all;
}
.form_fields .form_field input:not([type=checkbox]) { 
	width:100%; 
	display:block;
	font-family:inherit;
	font-size:inherit;
	color:inherit;
	letter-spacing:inherit;
	word-spacing:inherit;
	
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center bottom, center 100%;
	background-position: center bottom, center -webkit-calc(100% - 1px);
	-webkit-background-size:0 2px, 100% 2px;
	background-size:0 2px, 100% 2px;
	transition:box-shadow .25s linear, border .25s linear, color .25s linear, background-color .25s linear;
	-webkit-transition:background 0s ease-out;
	-o-transition:background 0s ease-out;
	transition:background 0s ease-out;
	
	--input-line-color:var(--link-color);
}
.form_fields .form_field input:not([type=checkbox]),
  .form_fields .form_field input:not([type=checkbox]):focus {
	/* Some IE browsers don't allow variables so we must hard coded the colors */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4070FF), to(#4070FF)), -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#e0e0e0));
	background-image: -webkit-linear-gradient(#4070FF, #4070FF), -webkit-linear-gradient(#e0e0e0, #e0e0e0);
	background-image: -o-linear-gradient(#4070FF, #4070FF), -o-linear-gradient(#e0e0e0, #e0e0e0);
	background-image: linear-gradient(#4070FF, #4070FF), linear-gradient(#e0e0e0, #e0e0e0);
	
	/* Overwrite the colors by the variable --input-line-color for all the other browsers than IE */
	background-image: -webkit-gradient(linear, left top, left bottom, from(var(--input-line-color)), to(var(--input-line-color))), -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#000));
	background-image: -webkit-linear-gradient(var(--input-line-color), var(--input-line-color)), -webkit-linear-gradient(#e0e0e0, #000);
	background-image: -o-linear-gradient(var(--input-line-color), var(--input-line-color)), -o-linear-gradient(#e0e0e0, #000);
	background-image: linear-gradient(var(--input-line-color), var(--input-line-color)), linear-gradient(#e0e0e0, #000);
	
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.form_fields .form_field input:not([type=checkbox]):focus {
	-webkit-background-size: 100% 2px, 100% 1px;
	background-size: 100% 2px, 100% 1px;
	outline: none;
	-webkit-transition-duration: .3s;
	-o-transition-duration: .3s;
	transition-duration: .3s;
}
/* Must repeate this css otherwise the hover won't work in IE */
.form_fields .form_field input:not([type=checkbox]):hover:not(:focus) {
	box-shadow:0 0 0.5rem 0.1rem #f7f7f7 inset;
	box-shadow:0 0 0.5rem 0.1rem rgba(200, 200, 200, .2) inset;
}
.form_fields .form_field input:not([type=checkbox]):-webkit-autofill {
	box-shadow:0 0 0 30px #fff inset, 0 0 0.5rem 0.2rem transparent !important; /* remove default shadow from Chrome browsers */
	border-bottom: 2px solid #666;
}
.form_fields .form_field input:not([type=checkbox]):-webkit-autofill:focus {
	border-bottom: 2px solid var(--input-line-color);
}
.form_fields .form_field input:not([type=checkbox]) ~ label {
	top:.9rem;
	left:.75rem;
	font-size:inherit;
	color:inherit;
}
.form_fields .form_field input:not([type=checkbox]):focus ~ label,
  .form_fields .form_field input:not([type=checkbox]):not(:-ms-input-placeholder) ~ label {
	top:-.8rem;
	left:0;
	/*font-size:95%;*/
	color:#aaa;
}
/* IE doesn't recognize this so we must repeat this in another line so it doesn't exclude the previous css statement */
.form_fields .form_field input:not([type=checkbox]):not(:placeholder-shown) ~ label,
  .form_fields .form_field input:not([type=checkbox]):-webkit-autofill ~ label { /* if empty value */
	top:-.8rem;
	left:0;
	/*font-size:95%;*/
	color:#aaa;
}
/*.form_fields .form_field input:not([type=checkbox]):focus ~ label:after,
  .form_fields .form_field input:not([type=checkbox]):not(:-ms-input-placeholder) ~ label:after {
	content:":";
}
.form_fields .form_field input:not([type=checkbox]):not(:placeholder-shown) ~ label:after,
  .form_fields .form_field input:not([type=checkbox]):-webkit-autofill ~ label:after {
	content:":";
}*/

.buttons { margin:20px auto 0; }
.login.with_popup .buttons { margin-top:30px; text-align:center; }
.buttons input { font-size:inherit; color:white; }
.buttons input:hover { color:white; }

