<IfModule mod_rewrite.c>
RewriteEngine on

RewriteRule ^$ presentation/ [L,NC]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*) presentation/$1 [L,NC]
</IfModule>
