<?xml version="1.0" encoding="UTF-8"?>
<task>
	<label>Call Business Logic</label>
	<tag>callbusinesslogic</tag>
	<files>
		<task_properties_html>WorkFlowTaskHtml.php</task_properties_html>
		<css>../../common/css/global.css</css>
		<css>../common/css/global.css</css>
		<css>../common/css/BrokerOptionsUtilObj.css</css>
		<css>../common/css/ArrayTaskUtilObj.css</css>
		<css>../common/css/LayerOptionsUtilObj.css</css>
		<css>css/WorkFlowTask.css</css>
		<js>../../common/js/global.js</js>
		<js>../common/js/global.js</js>
		<js>../common/js/BrokerOptionsUtilObj.js</js>
		<js>../common/js/ArrayTaskUtilObj.js</js>
		<js>../common/js/LayerOptionsUtilObj.js</js>
		<js>js/WorkFlowTask.js</js>
	</files>
	<settings>
		<connection_menu>
			<show_properties_menu>0</show_properties_menu>
			<show_overlay_types_menu>0</show_overlay_types_menu>
		</connection_menu>
		<callback>
			<on_load_task_properties>CallBusinessLogicTaskPropertyObj.onLoadTaskProperties</on_load_task_properties>
			<on_submit_task_properties>CallBusinessLogicTaskPropertyObj.onSubmitTaskProperties</on_submit_task_properties>
			<on_complete_task_properties>CallBusinessLogicTaskPropertyObj.onCompleteTaskProperties</on_complete_task_properties>
			<on_cancel_task_properties>CallBusinessLogicTaskPropertyObj.onCancelTaskProperties</on_cancel_task_properties>
			
			<on_complete_task_label>CallBusinessLogicTaskPropertyObj.onCompleteLabel</on_complete_task_label>
			
			<on_success_task_cloning>ProgrammingTaskUtil.onTaskCloning</on_success_task_cloning>
			<on_success_task_creation>CallBusinessLogicTaskPropertyObj.onTaskCreation</on_success_task_creation>
			<on_check_task_deletion>ProgrammingTaskUtil.onBeforeTaskDeletion</on_check_task_deletion>
			<on_success_task_deletion>ProgrammingTaskUtil.onAfterTaskDeletion</on_success_task_deletion>
			
			<on_success_task_between_connection>ProgrammingTaskUtil.onSuccessTaskBetweenConnection</on_success_task_between_connection>
			<on_success_connection_drag>onlyAllowOneConnectionPerExitAndNotToItSelf</on_success_connection_drag>
			<on_success_connection_drop>ProgrammingTaskUtil.onConnectionDrop</on_success_connection_drop>
			
			<on_show_task_menu>ProgrammingTaskUtil.addCodeMenuOnShowTaskMenu</on_show_task_menu>
			
			<on_click_task>showTaskPropertiesIfExists</on_click_task>
		</callback>
		<center_inner_elements>0</center_inner_elements>
	</settings>
	<code_parser>
		<statements>Expr_Assign,Expr_AssignOp_Concat,Expr_AssignOp_Plus,Expr_AssignOp_Minus,Expr_MethodCall,Stmt_Echo</statements>
		<reserved_object_method_names>callBusinessLogic</reserved_object_method_names>
	</code_parser>
</task>
