<?xml version="1.0" encoding="UTF-8"?>
<task>
	<label>Server</label>
	<tag>server</tag>
	<files>
		<task_properties_html>WorkFlowTaskHtml.php</task_properties_html>
		<css>../../common/css/global.css</css>
		<css>../common/css/global.css</css>
		<css>css/WorkFlowTask.css</css>
		<js>../../common/js/global.js</js>
		<js>../common/js/global.js</js>
		<js>js/WorkFlowTask.js</js>
	</files>
	<settings>
		<task_menu>
			<show_start_task_menu>0</show_start_task_menu>
		</task_menu>
		<connection_menu>
			<show_context_menu>0</show_context_menu>
		</connection_menu>
		<callback>
			<on_load_task_properties>ServerTaskPropertyObj.onLoadTaskProperties</on_load_task_properties>
			<on_submit_task_properties>ServerTaskPropertyObj.onSubmitTaskProperties</on_submit_task_properties>
			<on_complete_task_properties>ServerTaskPropertyObj.onCompleteTaskProperties</on_complete_task_properties>
			<on_cancel_task_properties>ServerTaskPropertyObj.onCancelTaskProperties</on_cancel_task_properties>
			
			<on_check_task_label>ServerTaskPropertyObj.onCheckLabel</on_check_task_label>
			<on_cancel_task_label>ServerTaskPropertyObj.onCancelLabel</on_cancel_task_label>
			<on_complete_task_label>ServerTaskPropertyObj.onCompleteLabel</on_complete_task_label>
			
			<!--on_success_task_creation>ServerTaskPropertyObj.onTaskCreation</on_success_task_creation-->
			
			<!--on_click_task>showTaskPropertiesIfExists</on_click_task-->
		</callback>
		<center_inner_elements>1</center_inner_elements>
		<is_resizable_task>1</is_resizable_task>
	</settings>
</task>
