<?xml version="1.0" encoding="UTF-8"?>
<widget>
	<label>Table</label>
	<tag>bstable</tag>
	<settings>
		<absolute_position>1</absolute_position>
		<create_widget_class>BSTableWidget</create_widget_class>
	</settings>
	<files>
		<css>../../CreateWidgetBootstrapClassObj.css</css>
		<js>../../CreateWidgetBootstrapClassObj.js</js>
	</files>
	<menu_css><![CDATA[
		.layout-ui-editor > .menu-widgets .menu-widget.menu-widget-bstable:before,
		  body > .menu-widget.menu-widget-bstable.ui-draggable-dragging:before {
			background-image:url('#widget_webroot_url#logo.svg');
		}
		
		.layout-ui-editor > .myfancypopup.layout-ui-editor-bootstrap-widgets-popup.bstable > .content > ul > li img {
			max-width:300px;
			max-height:300px;
			height:auto;
		}
	]]></menu_css>
	<menu_js><![CDATA[
		function BSTableWidget(ui_creator, menu_widget) {
			var obj = new CreateWidgetBootstrapClassObj(ui_creator, menu_widget, "bstable");
			obj.extend(this);
			
			obj.available_items = {
				"5.3": [
					{
						image: '#widget_webroot_url#table_1.png',
						name: '',
						html: '<table class="table table-striped"><thead><tr><th scope="col">#</th><th scope="col">First</th><th scope="col">Last</th><th scope="col">Handle</th></tr></thead><tbody><tr><th scope="row">1</th><td>Mark</td><td>Otto</td><td>@mdo</td></tr><tr><th scope="row">2</th><td>Jacob</td><td>Thornton</td><td>@fat</td></tr><tr><th scope="row">3</th><td colspan="2">Larry the Bird</td><td>@twitter</td></tr></tbody></table>'
					},
					{
						image: '#widget_webroot_url#table_2.png',
						name: '',
						html: '<table class="table table-dark table-borderless"><thead><tr><th scope="col">#</th><th scope="col">First</th><th scope="col">Last</th><th scope="col">Handle</th></tr></thead><tbody><tr><th scope="row">1</th><td>Mark</td><td>Otto</td><td>@mdo</td></tr><tr><th scope="row">2</th><td>Jacob</td><td>Thornton</td><td>@fat</td></tr><tr><th scope="row">3</th><td colspan="2">Larry the Bird</td><td>@twitter</td></tr></tbody></table>'
					},
					{
						image: '#widget_webroot_url#table_3.png',
						name: '',
						html: '<table class="table table-hover"><thead><tr><th scope="col">Class</th><th scope="col">Heading</th><th scope="col">Heading</th></tr></thead><tbody><tr><th scope="row">Default</th><td>Cell</td><td>Cell</td></tr><tr class="table-primary"><th scope="row">Primary</th><td>Cell</td><td>Cell</td></tr><tr class="table-secondary"><th scope="row">Secondary</th><td>Cell</td><td>Cell</td></tr><tr class="table-success"><th scope="row">Success</th><td>Cell</td><td>Cell</td></tr><tr class="table-danger"><th scope="row">Danger</th><td>Cell</td><td>Cell</td></tr><tr class="table-warning"><th scope="row">Warning</th><td>Cell</td><td>Cell</td></tr><tr class="table-info"><th scope="row">Info</th><td>Cell</td><td>Cell</td></tr><tr class="table-light"><th scope="row">Light</th><td>Cell</td><td>Cell</td></tr><tr class="table-dark"><th scope="row">Dark</th><td>Cell</td><td>Cell</td></tr></tbody></table>'
					},
					{
						image: '#widget_webroot_url#table_4.png',
						name: '',
						html: '<table class="table table-sm table-bordered"><thead><tr><th scope="col">#</th><th scope="col">First</th><th scope="col">Last</th><th scope="col">Handle</th></tr></thead><tbody><tr><th scope="row">1</th><td>Mark</td><td>Otto</td><td>@mdo</td></tr><tr><th scope="row">2</th><td>Jacob</td><td>Thornton</td><td>@fat</td></tr><tr><th scope="row">3</th><td colspan="2">Larry the Bird</td><td>@twitter</td></tr></tbody></table>'
					}
				],
			};
		}
	]]></menu_js>
</widget>
