<IfModule mod_rewrite.c>
   RewriteEngine on
   
   RewriteRule ^$ layer/presentation/phpframework/admin/ [L,NC]
   
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteRule (.*) layer/$1 [L,NC]
</IfModule>
